* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    padding-top: 117px;
    height: 500vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;

}

.fixed-nav {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
}

.container {
    width: 1280px;
    max-width: 90%;
    margin: 0 auto;
}

.top-bar {
    background-color: black;
    text-align: center;
    line-height: 1.3;
}

.top-bar-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
}

.top-bar-block {
    padding: 5px;
}

.top-bar-block a {
    color: white;
    font-weight: bolder;
    font-size: 13px;
}

.main-container {
    padding: 0 40px;
    height: 80px;

}

@media(max-width:1300px) {
    .main-container {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
}

.header-top {
    display: flex;
    justify-content: end;
}

.header-sub-menu {
    display: flex;
    margin: 0 -8px;

}

.header-sub-menu a {
    padding: 0 8px;
    font-size: 13px;
    color: black;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.header-bottom .adidas-logo img {
    width: 60px;
    height: 60px;
}

.header-aside-blocks {
    display: flex;
    align-items: center;
}

.site-navigation {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.site-nav-list {
    margin: 0;
}

.site-navigation ul li a {
    font-size: 14px;
    padding: 0 10px;
    color: black;
    letter-spacing: 1px;

}

.bold-a {
    font-weight: bold;
}

.header-aside {
    padding-bottom: 15px;
}

.header-aside-block form input {
    padding: 0px 35px 0px 10px;
    background-color: #e9ecef;
    border: none;
    height: 30px;
    width: 100%;

}

.header-aside-blocks {
    margin: 0 -12px;
}

.header-aside-block {
    padding: 0 12px;
}

.header-aside-block a {
    color: black;
    position: relative;
}

.notification-number {
    position: absolute;
    right: -7.5px;
    top: -7.5px;
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: orange;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
}

.header-aside-block a i {
    font-size: 20px;
}

.section-first {
    background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enUS/Images/ss22-pride-launch-hp-masthead2-d_tcm221-883710.jpg);
    width: 100%;
    height: calc(100vh - 114.6px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header-search {
    position: relative;
}

.header-search button {
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    height: 30px;
    width: 30px;
    font-size: 20px;
}


.title-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    color: white;
}

.title-box .title {
    font-size: 42px;
    font-weight: bold;
}


.title-box .title-btn a {
    color: black;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 20px black;
    padding: 14px;
    letter-spacing: 1px;
    font-weight: bolder;
    display: inline-block;
}

.title-box .title-desc {
    font-size: 18px;
    margin: 15px 0 25px;
}

.second-section-about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0;
}

.second-section-about .title {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

.menu-ss {
    margin-top: 30px;

}

.second-section-about .menu-ss a {
    color: black;
    border: 1px solid rgb(144, 139, 139);
    padding: 10px 10px;
    font-size: 16px;
    display: inline-block;
}

.mobile-menu-icon i {
    font-size: 24px;
    display: none;
}

@media (max-width:1250px) {
    .site-navigation {
        transform: none;
        left: 100px;
    }
}

@media(min-width:955px) and (max-width:1200px) {
    .header-search {
        width: 130px;
    }
}

@media (max-width:959px) {
    .header-top {
        display: none;

    }

    .header-search {
        display: none;
    }

    .main-container {
        height: auto;
    }
}

.secret-first-section {
    display: none;
}

@media (max-width:820px) {
    .site-nav-list {
        display: none;
    }

    .mobile-menu-icon i {
        display: block;
    }

    .site-navigation {
        position: relative;
        left: 0;
        bottom: 0;

    }

    .adidas-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .header-aside {
        padding: 0;
    }

    body {
        padding-top: 85px;
    }

    .header-bottom {
        padding: 15px 0;
    }

    .section-first {
        background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_960,w_960/enUS/Images/ss22-pride-launch-hp-masthead2-t_tcm221-883709.jpg);
        width: 100%;
        height: calc(100vh - 412px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
    }

    .secret-first-section {
        display: block;
    }

    .title-box .title {
        font-size: 32px;
    }

    .title-box .title-desc {
        font-size: 18px;
        margin: 5px 0 5px;
    }

    .title-box {
        padding-bottom: 30px;
        width: 290px;
    }

    .top-first {
        display: none;
    }

    .top-second {
        display: none;
    }

    .top-third {
        width: 100%;
    }
}

.secret-first-section .container .row .elements {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    margin-top: 15px;
}

.title-bold a {
    color: black;
    font-weight: bolder;
    font-size: 24px;
}

.secret-first-section .container .row .elements .title a {
    color: black;
    font-size: 20px;
}

.secret-first-section .container .row .elements .men-element i {
    font-size: 20px;
}

@media (min-width:300px) and (max-width:600px) {
    .section-first {
        background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_600,w_600/enUS/Images/ss22-pride-launch-hp-masthead2-m_tcm221-883708.jpg);
        width: 100%;
        height: calc(100vh - 350px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
    }
    .section-first .container{
        position: relative;
    }
    .title-box{
        position: absolute;
        bottom: 0;
    }
    .title-box .title-btn a{
        padding: 6px;
        font-size: 14px;
    }


    .title-box .title {
        font-size: 20px;

    }

    .title-box .title-desc {
        font-size: 14px;
        margin: 5px 0px;
    }

    .title-box {
        width: 290px;
    }
}